server:
  port: ${WORKSPACE_PORT}                 # 애플리케이션 실행 포트

spring:
  application:
    name: workspace_server # 애플리케이션 이름
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:jootalkpia}
    username: ${DB_USER}                                    # 데이터베이스 사용자
    password: ${DB_PASSWORD}                                # 데이터베이스 비밀번호
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  logging:
    level:
      org.hibernate.SQL: DEBUG # Hibernate SQL 로그 출력
      org.hibernate.type.descriptor.sql: TRACE # SQL 매개변수 출력
      com.jootalkpia.workspace_server.service: DEBUG    # workspace 서비스 패키지 로그
      org.springframework.data.redis: DEBUG        # Redis 작업 로그
  kafka:
    producer:
      acks: all # 멱등성 프로듀서를 위해 all로 설정, 0 또는 1이면 enable.idempotence=true 불가
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
management:
  endpoints:
    web:
      exposure:
        include: "*"          # 모든 관리 엔드포인트 노출
  endpoint:
    health:
      show-details: always    # /actuator/health에 세부 정보 표시
