spring:
  application:
    name: workspace_server # 애플리케이션 이름
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:jootalkpia}
    username: ${DB_USER}                                    # 데이터베이스 사용자
    password: ${DB_PASSWORD}                                # 데이터베이스 비밀번호
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  logging:
    level:
      org.hibernate.SQL: DEBUG # Hibernate SQL 로그 출력
      org.hibernate.type.descriptor.sql: TRACE # SQL 매개변수 출력

server:
  port: 8080                  # 애플리케이션 실행 포트

management:
  endpoints:
    web:
      exposure:
        include: "*"          # 모든 관리 엔드포인트 노출
  endpoint:
    health:
      show-details: always    # /actuator/health에 세부 정보 표시
