server:
  port: ${FILE_PORT}
  tomcat:
    max-swallow-size: -1
spring:
  web:
    mvc:
      cors:
        mappings:
          "/**":  # 모든 경로에 대해 CORS 설정
            allowedOrigins: "http://localhost:3000"  # 허용할 도메인 (프론트엔드)
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
  application:
    name: file_server
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:jootalkpia_file}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql: TRACE
  servlet:
    multipart:
      enabled: true
      max-file-size: 1000MB  # 개별 파일 최대 크기
      max-request-size: 1000MB  # 전체 요청 최대 크기
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        bucket: ${S3_BUCKET_NAME}
      region:
        static: ${AWS_REGION}
      stack:
        auto: false