server:
  port: 8080
  tomcat:
    max-swallow-size: -1
spring:
  application:
    name: file_server
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:jootalkpia_file}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql: TRACE
  servlet:
    multipart:
      enabled: true
      max-file-size: 1000MB  # 개별 파일 최대 크기
      max-request-size: 1000MB  # 전체 요청 최대 크기
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        bucket: ${S3_BUCKET_NAME}
      region:
        static: ${AWS_REGION}
      stack:
        auto: false


